# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log
*.log.*

# Environment
.env
.env.*

# VSCode settings
.vscode/

# Build output
dist/
build/

# Docker
*.local
docker-compose.override.yml

# Coverage (si usas tests)
coverage/

# Sistema operativo
.DS_Store
Thumbs.db
